.container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

/* SidePanel */
.sidePanel{
  width: 15%;
  transition: 0.5s;
}

.sidePanel .sideLinks{
  list-style: none;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 55px;
}

.sidePanel li{
  padding: 20px 5px;
  display: flex;
  gap: 10px;
  color: #B7BCC4;
}

.sidePanel li:hover{
  background-color: #E7EEF9;
  color: #597FBD;
  border-radius: 5px;
  width: 95%;
}

.sidePanel .account{
  border-top: 1px solid grey;
  padding-left: 10px;
  margin: 0;
}

/* Dataview */
.dataview{
  width: 85%;
  transition: 0.5s;
  background-color: #F1F4FA;
  padding: 20px;
}

.datatop{
  width: 98%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
}

.datatop select{
  border: none;
  background-color: white;
  margin-bottom: 15px;
}

.datatop select:focus{
  outline: none;
}

.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date{
  display: flex;
  gap: 10px;
}

.date input{
  border: none;
  border-bottom: 1px solid grey;
  background-color: white;
}

.date input:focus{
  outline: none;
}

.date input[type="date"]::-webkit-calendar-picker-indicator {
  color: #597FBD;
}

.date input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.date input[type="date"]::-webkit-clear-button {
  display: none;
}

.date input[type="date"]::-webkit-datetime-edit-year-field {
  color: #597FBD;
}

.date input[type="date"]::-webkit-datetime-edit-month-field {
  color: #597FBD;
}

.date input[type="date"]::-webkit-datetime-edit-day-field {
  color: #597FBD;
}


.search input[type="text"]{
  border: none;
  border-bottom: 1px solid grey;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;

}

/* Users */
.users{
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 3px;
}

.view {
  color: dodgerblue;
  text-transform: capitalize;
}

/* single user */
.usermain{
  background-color: white;
  padding: 20px;
}

.usermain h3{
  color: dodgerblue;
}

.userBtn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #E7EEF9;
  color: #6488C2;
  cursor: pointer;
}

.usermain th{
  color: #B0B4BA;
  font-size: 12px;
}
.userTop{
  display: flex;
  justify-content: space-between;
}

.user{
  width: 180px;
  display: flex;
  gap: 15px;
  color: dodgerblue;
  padding: 5px;
}

.backArrow{
  color: dodgerblue;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid dodgerblue;
  border-radius: 50%;
  padding: 5px;
}

.photo{
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.photo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userInfo table{
  border-collapse: collapse;
  width: 60%;
}

.userInfo tr{
  padding: 10px;
  text-align: center;
}

.portfolio{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.investment table{
  width: 100%;
}

.investment th{
  padding: 10px;
  text-align: center;
}

.investment td{
  padding: 10px;
  text-align: center;
}

/* select components */
.selectscontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectscontainer span{
  color: #B0B4BA;
  font-size: 12px;
}

.selectsOpt{
  margin-bottom: 20px;
}


.selectsOpt select{
  border: none;
  background-color: #F3F6FC;
  padding:8px 3px;
  width: 100%;
}

.selectsOpt select:focus{
  outline: none;
}


